{erl_opts, [debug_info]}.
{deps,
 [{gun, {git, "https://github.com/ninenines/gun", {branch, master}}},
  {jsone, {git, "https://github.com/sile/jsone", {branch, master}}}
 ]}.

{escript_incl_apps, [comictrack]}.
{escript_main_app, comictrack}.
{escript_name, comictrack}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [comictrack]}
]}.
